h1 {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #f0f0f0;
}
body{
  background-color: lightgrey;
}
p {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
a.one {
  display: block;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {font-size:110%;}
#nav {
  position: absolute;
  left:50%; top:0;
  margin-left: -375px;
  display: table;
  height: 87px;
  width: 750px;
  list-style: none;
}

#navigation_container {
  margin: 0 auto;
  width: 960px;
}

#nav a{
  display: block;
  text-align: center;
  width: 150px;
  text-decoration: none;
}

#nav li {
  text-align: center;
  list-style: none;
  display: block;
  float: left;
  margin: lem;
}

#nav li a {
  text-shadow:0 2px 1px rgba(0,0,0,0.5);
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6em;
  margin: 0 .5em;
}

#nav li a:hover {
  margin-top: 2px;
}

.exactCenter {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
