h1 {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #F5F5F5;
}
body{
  height: 1000px;
  background: linear-gradient(#19668f, white);
  background-repeat: no-repeat;
}
p {
  text-align: center;
  color: #F5F5F5;

}
ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
a.one {
  display: block;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {font-size:110%;}
#nav {
  position: absolute;
  left:50%; top:0;
  margin-left: -375px;
  display: table;
  height: 87px;
  width: 750px;
  list-style: none;
}

#navigation_container {
  margin: 0 auto;
  width: 960px;
}

#nav a{
  display: block;
  text-align: center;
  width: 150px;
  text-decoration: none;
}

#nav li {
  text-align: center;
  list-style: none;
  display: block;
  float: left;
  margin: lem;
}

#nav li a {
  text-shadow:0 2px 1px rgba(0,0,0,0.5);
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6em;
  margin: 0 .5em;
  border-style: solid;
  border-width: 5px;
}

#nav li a:hover {
  margin-top: 5px;
}

div.exactCenter {
  margin-left: auto;
  margin-right: auto;

}

div.background{
  background-color: black;
  margin-left: 150px;
  margin-right: 150px;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 0px;

  /* Set up proportionate scaling */

  height: auto;

  /* Set up positioning */
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}
